@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

